html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 767px) {
  .sidebar-items {
    margin-bottom: 0 !important;
  }
}

.sidebar-items {
  color: gray;
  font-size: large;
}

.sidebar-items p {
  margin-left: 1em;
}

.sidebar-items:hover svg {
  color: #B57295;
}

.sidebar-items:hover p {
  color: #fff;
}

.active {
  color: #fff;
  font-weight: bold;
}

.active-icon {
  color: #B57295 !important;
}


.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}  


.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
/* .joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid ;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
} */

/* .joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: ;
  color: #fafafa;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: tomato;
} */

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #96908a;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fafafa;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border-radius: 6px;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #95CD41 ;
  border-radius: 5px !important;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  border-radius: 6px;
  display: flex;
}

.chat-window .chat-footer input {
  
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  border-radius: 6px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  border-radius: 6px;
  color: lightgray;
  border-radius: 6px;
}
.hide {
  opacity: 0 !important;
}


.hello{
  color: red
}

